.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  // justify-content: left;

  span {
    // justify-content: flex-start;
    // align-items: center;
    // margin-left: 3px;
    opacity: 0.3;
    // width: fit-content;
  }
}
