* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}
.main-dev {
  flex: 1;
  margin-top: 48px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 29px;
  padding: 0.5%;
  background-color: #424242;
  width: 99%;
}
